/* recent card */
.recentcard {
  overflow: hidden;
}
.recentcard:hover img {
  transform: scale(1.2);
  transition: transform 1s ease;
}
.recentcard img {
  transition: transform 1s ease;
}
.recentcard > .recentoverlay {
  background-color: rgba(0,0,0,0.3);
}
.recentcard:hover .recentoverlay {
  background-color: rgba(0,0,0,0.5);
}
.link-holder > a {
  display: none;
}
.link-holder a {
  transition: all 1s ease;
}
.recentcard > .recentoverlay > .link-holder {
  z-index: 99;
	 position: absolute;
	 bottom: 0;
	 right: 20px;
   bottom: 40px;
	 font-size: 36px;
	 font-weight: 700;
	 color: #fff;
   transition: all 1s ease;
}
.recentcard:hover .link-holder a {
  display: flex;
  transform: translateX(20px);
  transition: all 1s ease;
}